* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* LOGIN FORM */

.login-container {
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75)50%, rgba(0, 0, 0, 0.75)50%), url(../img/image1.jpg);
    overflow: hidden;
}

.login-container .line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form .btn {
    margin-top: 10px;
    line-height: 25px;
}

.login-form {
    max-width: 450px;
    padding: 40px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 10px;
}

.login-form .logo-details .logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.lion {
    width: 110px;
    height: 128px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 8px 0;
}

.btn {
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    transition: 0.3s ease-in;
}

.btn:hover {
    color: white;
    background-color: rgba(99, 22, 22, 0.493);
}

.login-form label {
    color: white;
}

.forgot {
    text-decoration: underline;
    float: right;
    color: brown;
}

.create {
    color: white;
    float: left;
}

/* TRANSACTION*/

body {
    margin: 0;
    margin-right: 0%;
    background: rgb(27, 20, 20);
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo-name {
    float: left;
    font-size: 20px;
    padding: 18px 0;
    color: white;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

nav ul li:hover {
    color: black;
    background-color: rgba(182, 170, 170, 0.651);
}

nav ul li a {
    color: white;
}

.label #lion {
    float: left;
    width: 50px;
    height: 60px;
    padding: 5px;
}

main {
    position: relative;
    padding-top: 0px;
    z-index: 1;
    margin-right: 0%;
  }
  
  main h1 {
    color: rgb(4, 4, 4);
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:55px;
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 0%;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

.homecontent {
    height: 550px;
    background-image: url("../img/american_made_pendant_lights2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.sections {
    text-align: center;
    background-color: rgb(252, 251, 251);
    padding-top: 50px;
    padding-bottom: 50px;
  }

.sections .col {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;
  }

.sections h2 {
    color: rgb(4, 4, 4);
    padding-top: 10px;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
  }

.sections p {
    padding-top: 10px;
    color: rgb(4, 4, 4);
  }

.sections img {
    height: 100px;
  }

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }

  footer p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
  }

  .services {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .services h2 {
    color: #fff;
    padding-top: 10px;
    font-weight: 600;
    font-size: 23px;
  }

  .services p {
    padding-top: 10px;
    color: #fff;
  }

  .services img {
    padding-top: 25px;
    height: 500px;
  }

  .calendar h2{
    color: #fff;
    padding-top: 10px;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
  }

  .calendar table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 200px;
    width: 100%;
  }

  .calendar table th{
    width: 70px;
  }

  .calendar table tr{
    height: 10px;
  }